pandas
numpy
matplotlib
plotly
streamlit
scikit-learn
google-cloud-bigquery
google-cloud-storage
imbalanced-learn
shap
pytest
pytest-cov
coverage
coverage-badge
setuptools
pylint
python-dotenv
seaborn